body {
  font-family: helvetica;
  background-color: floralwhite;
}

/* Table */

table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
  font-size: 18px;
}

thead th {
  background: #88CCF1;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 10px;
  text-align: left;
  width: 33.3333%;
}

h2{
  align-self: center;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  background-color: slategray;
  padding: 10px 50px;
  text-transform: uppercase;
  leading: .2
}

.body2 {
  background-color: lightslategray;
  margin-top: auto;
  padding: 5px;
}

.newbody2 {
  background-color: hsla(88, 100%, 7%, 1);
  color: hsla(88, 100%, 27%, 0.79);
  margin-top: auto;
  padding: 5px;
font-family: 'Architects Daughter', cursive;
}

h4{
  text-transform: uppercase;
}

ul{;
}

.menu {
  background-color: lightsteelblue;
}

/* latin */
@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: local('Architects Daughter Regular'), local('ArchitectsDaughter-Regular'), url(https://fonts.gstatic.com/s/architectsdaughter/v7/RXTgOOQ9AAtaVOHxx0IUBBoTIN0je7AiOLXaVBr1ByU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
